<div id='page' class='container'>
  <div class='row'>
    <div class='span8'>
      <div class="article" id="article-<%= @article.id %>">
        <h1 class='page-header'><%= link_to_permalink(@article,@article.title) %></h1>
        <%= @article.html(:body) %>
        <%= @article.html(:extended) %>
        <div id="share-post-read">                  
          <%= link_to image_tag('/images/theme/assets/facebook_slider.png'), "http://www.facebook.com/sharer.php?u=#{@article.permalink_url}" %>
          <%= link_to image_tag('/images/theme/assets/tweet_slider.png'),"http://twitter.com/home?status=#{@article.title} #{@article.permalink_url} from #{this_blog.blog_name} #{this_blog.base_url}" %> 
          <%= link_to image_tag('/images/theme/assets/pin_slider.png'),"http://pinterest.com/pin/create/unknown/?url=#{@article.permalink_url}&amp;media=#{@article.body.scan(/http[^>]*.jpg/).first}&amp;description=#{@article.title} #{@article.permalink_url}" %>              
        </div>
        <div id="date-art"> <%= render 'articles/meta', article: @article %> </div>
        

          <% if @article.user.twitter %>
          <div class='well'>
            <%= _("If you liked this article you can %s", link_to(_("add me to Twitter"), "http://twitter.com/#{@article.user.twitter}"))%>
          </div>
          <% end %>

          <% if @article.allow_comments? or @article.published_comments.size > 0 -%>
          <h3 class="feedback" id="commentaires">
            <%= render 'articles/comment_counter', article: @article %>
            
          </h3>
          <%= render "articles/comment_list" %>
          <% end -%>

          <% if @article.allow_comments? %>
            <%= render 'articles/comment_form' %>
          <% else %>
            <div class="well well-small">
              <%= _("Comments are disabled") %>
            </div>
          <% end %>

          <% if @article.allow_pings? -%>
          <h5 class="feedback" id="trackbacks"><%= _('Trackbacks for')%> <em><%= @article.title %></em></h5>
          <% unless @article.published_trackbacks.blank? -%>
          <ol id="trackbacks" class="trackbacks">
            <%= render "trackback", :collection => @article.published_trackbacks %>
          </ol>
          <% end -%>
          <% else -%>
          <div class="well well-small">
            <%= _("Trackbacks are disabled") %>
          </div>
          <% end -%>
        </div>
      </div>
      <div id='sidebar' class='span3'>
        <%= render_sidebars %>
      </div>
  </div> 
</div>