<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
<head profile="http://gmpg.org/xfn/11">
   <meta property="og:image" content="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-prn1/935987_206234766224369_1621438201_n.jpg"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FittingRoom Blog</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  
  <%= stylesheet_link_tag "/stylesheets/theme/bootstrap.min.css", "/stylesheets/theme/style.css","/stylesheets/theme/style_about.css", :media => 'all' %> 
  <%= javascript_include_tag "/stylesheets/theme/responsiveslides.min.js" %> 
  <script>
    $(function() {
      $(".rslides").responsiveSlides({
        auto: true,             // Boolean: Animate automatically, true or false
        speed: 500,            // Integer: Speed of the transition, in milliseconds
        timeout: 3000,          // Integer: Time between slide transitions, in milliseconds
        pager: false,           // Boolean: Show pager, true or false
        nav: true,             // Boolean: Show navigation, true or false
        random: false,          // Boolean: Randomize the order of the slides, true or false
        pause: false,           // Boolean: Pause on hover, true or false
        pauseControls: true,    // Boolean: Pause when hovering controls, true or false
        prevText: "",   // String: Text for the "previous" button
        nextText: "",       // String: Text for the "next" button
        maxwidth: "",           // Integer: Max-width of the slideshow, in pixels
        navContainer: "",       // Selector: Where controls should be appended to, default is after the 'ul'
        manualControls: "",     // Selector: Declare custom pager navigation
        namespace: "centered-btns",   // String: Change the default namespace used
        before: function(){},   // Function: Before callback
        after: function(){}     // Function: After callback
      });
    });
    
  </script>
</head>
<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <div id="external">
    <div id='main'>
      <div class='container'>
        <div class="row">
          <div class="span7"></div>
          <div class="span1">
            <form accept-charset="UTF-8" action="/search" id="sform" method="get">
              <input type="search" name="q" id="live_search" class="yellow-search" 
              style="border: 1px solid #e2b656;
                        border-radius: 0px;
                        width:320px;;
                        height: 20px;
                        margin-top: 10px;
                        background: url('/images/theme/assets/search_yellow.png') no-repeat;
                        background-position: 312px 7px;
                        margin-left:-10px;
                        position:absolute;">

            </form>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='span4'>
          <%- if controller.controller_name == 'articles' and controller.action_name.include? 'index' %>
            <a href="http://blog.thefittingroomapp.com">
              <div class="logo-img">
              </div>
            </a>
          <%- else %>
             <a href="http://blog.thefittingroomapp.com">
              <div class="logo-img">
              </div>
            </a>
          <%- end %>  
            
          </div>      
          <div class="span6">  
            <div class='menu'>             
              <ul class='nav'>
                <li><%= link_to(_('HOME'), this_blog.base_url)%></li>
                <%- Page.published.each do |page| %>
                    <li><%= link_to_permalink(page, page.title) %></li>
                <%- end %>
                <li><a href="https://itunes.apple.com/us/app/fittingroom-fashion-advice/id726307268?mt=8">APP<img class="app" src="/images/theme/assets/iphone.png"></a></li> 
              </ul>
            </div>
          </div> 
      </div>

      <%= yield %>

      <div class="footer">
        <hr>
        <ul>
          <li>© 2013 FittingRoom Blog | </li>

          <li><a href="/pages/about-us">ABOUT US </a></li>
          <li>|</li>
          <li><a href="/pages/contributors"> CONTRIBUTORS </a></li>
          <li>|</li>        
          <li><a href="/pages/contact"> CONTACT </a></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
